@media all and (max-width: 375px){
    .conteneur3__titre__tab{
        display: none;
    }

    .div__img__couverture{
        display: none;
    }

    .header__ico{
        display: none;
    }    
}

body, #block_page{
    width: 375px;
    margin: auto;
}

@font-face {
    font-family: 'roboto_medium';
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'roboto_light';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto_thin';
    src: url(fonts/Roboto-Thin.ttf);
}

h1, h2, h3{
    font-family: 'roboto_medium';
}

p{
    font-family: 'roboto_light'; 
}

a{
    text-decoration: none;
    display: block;
    width: 85%;
    height: 245px;
}

.localisation_tab{
    display: none;
}



header{
    div{
        width: 375px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 160px;
        height: 30px;
    }

}


$background-loc: #e0e0e0;

.conteneur1{

    .localisation{
        width: 100%;
        height: 55px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-loc;
        box-shadow:  0px 3px 4px inset #b6b6b6;

        i{
            margin-right: 15px;
        }
    }

    .reservation{
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        padding-top: 25px;
        padding-bottom: 30px;

        a:visited{
            color: white;
        }
        
        .reservation__titre{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 20px;
        }
        
        .reservation__txt{
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 16px;
        }
        
        .div__bouton{
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                width: 100%;
                height: 40px;
                margin-top: -7px;
    
                h3{
                    font-family: 'roboto_light';
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
            
            .reservation__bouton{
                color: white;
                font-size: 15px;
                width: 60%;
                height: 50px;
                background: linear-gradient( 180deg, #FF79DA, #9356DC );
                border-radius: 50px 50px 50px 50px;
                text-align: center;
                margin: auto;
                border: none;
                cursor: pointer;
                box-shadow: 5px 5px 15px #adadad;

                &:hover{
                    opacity: 0.8;
                    transition: 0.3s;
                }
            }
        }
    }       
}

$vert: #99E2D0;
$icones: #707070;
$backhover: #9256dc2a ;
$violet: #9356DC; 

.conteneur2{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;

    .conteneur2__titre{
        font-size: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .fonction{
        width: 85%;
        height: 220px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #f7f7f7;
            border-radius: 15px 15px 15px 15px;
            height: 60px;
            box-shadow:  5px 5px 10px #e6e6e6;
            cursor: pointer;

            .rond{
                position: relative;
                left: -8px;
                background-color: $violet;
                color: white;
                border-radius: 40px;
                height: 20px;
                width: 20px;

                h4{
                    font-family: 'roboto_light';
                    margin: 0px;
                    width: 100%;
                    height: 100%;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &:hover{
                background-color: $backhover;

                 .fa-mobile-alt, .fa-list-ul, .fa-store{
                    color: $violet;
                }
            }

            i{
                margin-left: 15px;
                margin-right: 30px;
            }

            .fa-mobile-alt, .fa-list-ul, .fa-store{
                color: $icones;
            } 

            h3{
                font-size: 16px;
            }    
        }
    }
}

.conteneur3{
    background-color: #f0f0f0;
    height: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;

    a{
        width: 100%;
    }

    a:visited{
        color: black;
    }

    .conteneur3__titre{
        margin-left: 30px;
        padding-top: 30px;
        font-size: 20px;
    }

    .new{
        position: absolute;
        width: 80px;
        height: 30px;
        background-color: $vert;
        left: 250px;
        margin-top: 15px;
        border-radius: 3px;
        padding: 0px;

        span{
            font-family: 'roboto_medium';
            margin: 0px;
            width: 100%;
            height: 100%;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #4a8a7a;
        }
    }

    @mixin shadow {
        box-shadow:  2px 2px 10px #b6b6b6;
    }

    .resto1{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 240px;
        border-radius: 20px;
        @include shadow;

        @mixin border-radius{
            border-radius: 15px 15px 0px 0px;
        }

        .resto__img{
            width: 100%;
            height: 70%;
            @include border-radius;

            img{
                width: 100%;
                height: 170px;
                @include border-radius;
                object-fit: cover;
            }
        }

        .resto__descritpion{
            width: 90%;
            height: 30%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .coeurs{
                cursor: pointer;

                .coeur1__2{
                    position: relative;
                    /*transition: opacity 1s ease-out;*/
                    width: 23px;
                    
                    .far.fa-heart.fa-lg{
                        top: 3px;
                        position: absolute;
                        background-color: white;
                        height: 21px;

                        &.far.fa-heart.fa-lg:hover{
                            opacity: 0;
                            transition: opacity 0.5s;
                            color: black;
                            background-color: white;
                        }
                    }

                    .fas.fa-heart.fa-lg.c1{
                        background-image: url('images/Coeur-plein[928].svg');
                        color: transparent;
                        height: 21px;
                        width: 21px;
                    }
                }
            }

            .titre-sous-titre{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 5px;

                .titre{
                    line-height: 0;
                    height: 22px;

                    & h2{
                        font-size: 18px; 
                    }
                }
                
                .sous-titre{
                    line-height: 0;
                    height: 22px;
                    font-family: 'roboto_light';

                    & h3{
                        font-size: 16px;
                        line-height: 0;
                        font-family: 'roboto_light';
                    } 
                }
            }
        }

    }
}

footer{
    height: 170px;
    background-color: #414141;
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 0;

    h3{
        font-size: 16px;
        font-family: 'roboto_light';
    }

    .footer__img{
        padding-bottom: 20px;
        padding-top: 10px;

        img{
            width: 120px;
            height: 20px;
        }
    }

    .footer__restaurant__partenaire{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .fa-utensils{
            margin-right: 10px;
        }

        .fa-hands-helping{
            margin-right: 10px;
        }
    }
}

    #block_page{
        animation: back ;
        animation-duration: 4.6s;
        opacity: 1;

    }

    @keyframes back{
        0%{
            opacity: 0.2;
        }

        50% {
            opacity: 0.2;
        }

        to {
            opacity: 1;
        }
    }

    #loader {
        position: absolute;
        top: 420px;
        left: 50%;
        width: 60px;
        height: 60px;
        border: 8px solid #707070;
        border-top: 8px solid $vert;
        border-radius: 50%;
        animation: spin 1.5s ease-in-out infinite;
        animation-delay: 0.2s;
        animation-iteration-count: 2;
        visibility: hidden;
    }
  
    @keyframes spin {
        0% { 
            transform: rotate(0deg);
            visibility: visible;
            opacity: 1;
        }

        100% {
             transform: rotate(360deg);
        }
    }


@media all and (min-width: 376px) and (max-width:779px){

    body, #block_page{
        width: 780px;
        margin: auto;
    }

    header{

        div{
        width: 100%;
        justify-content: center;  
        }

        .header__ico{
            display: none;
        } 
    }

    .div__img__couverture{
        display: none;
    }

    .conteneur1{
        display: flex;
        flex-direction: row;

        .localisation{
            display: none;
        }

        .div__loc {
            width: 45%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            order: 1;

            .localisation_tab{
                width: 75%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow:  1px 1px 5px #4d4d4d33;
                border-radius: 20px;

                & div{
                    margin-right: 20px;
                }
            }
        }

       .reservation{
            background-color: #f0f0f0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: auto;
            width: 95%;
            height: 140px;
            padding-top: 25px;
            padding-bottom: 30px;
            border-radius: 20px;
       
            a:visited{
                color: white;
            }

            br{
                display: none;
            }
            
            .reservation__titre{
                width: 87%;
                height: 20%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 21px;
            }
            
            .reservation__txt{
                width: 87%;
                margin: 0px;
                display: flex;
                font-size: 17px;
                justify-content: start;
            }
            
            .div__bouton{
                width: 55%;
                height: 60px;
                order: 1;
                display: flex;
                justify-content: flex-start;
                margin-top: 20px;

                a{
                    width: 100%;
                    height: 40px;
                    padding-top: 0%;
    
                    h3{
                      font-family: 'roboto_light'; 
                      margin-top: 23px; 
                      font-size: 17px;
                    }                
                }

                .reservation__bouton{
                    color: white;
                    width: 58%;
                    height: 100%;
                    background: linear-gradient( 180deg, #FF79DA, #9356DC );
                    border-radius: 20px;
                    justify-content: flex-start;
                    text-align: center;
                    margin: 0px;
                    border: none;
                    cursor: pointer;
                    box-shadow: 2px 2px 15px #adadad;
                }
            }
        } 
    }

    .conteneur2{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 40px;
    
        .conteneur2__titre{
            font-size: 21px;
            margin-left: 30px;
            margin-bottom: 20px;
        }
    
        .fonction{
            width: 100%;
            height: 130px;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
    
            > div{
                width: 190px;
                height: 120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background-color: #f7f7f7;
                border-radius: 15px 15px 15px 15px;
                box-shadow:  5px 5px 10px #e6e6e6;
                cursor: pointer;
    
                .rond{
                    position: relative;
                    left: -94px;
                    top: 0px;
                    background-color: $violet;
                    color: white;
                    border-radius: 50px;
                    height: 25px;
                    width: 25px;
    
                    h4{
                        font-family: 'roboto_light';
                        margin: 0px;
                        width: 100%;
                        height: 25px;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
    
                &:hover{
                    background-color: $backhover;
    
                     .fa-mobile-alt, .fa-list-ul, .fa-store{
                        color: $violet;
                    }
                }
    
                i{
                    margin-left: 15px;
                    margin-right: 30px;
                    padding-top: -10px;
                }
    
                .fa-mobile-alt, .fa-list-ul, .fa-store{
                    color: $icones;
                    font-size: 20px;
                } 

                h3{
                    font-size: 17px;
                    width: 99%;
                    text-align: center;
                } 
            }
        }
    }

    .div__conteneur3__titre__tab{
        display: none;
    }

    .conteneur3{
        background-color: #f0f0f0;
        height: 820px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        padding-bottom: 50px;

        > div{
            width: 98%;

            .conteneur3__titre{
                font-size: 21px;
            }
        }
    
        a{
            width: 100%;
        }
    
        a:visited{
            color: black;
        }
    

    
        @mixin shadow {
            box-shadow:  2px 2px 10px #b6b6b6;
        }
    
        .resto1{
            width: 41%;
            margin: auto;
            display: flex;
            flex-direction: column;
            background-color: white;
            height: 340px;
            border-radius: 20px;
            @include shadow;
    
            @mixin border-radius{
                border-radius: 15px 15px 0px 0px;
            }
    
            .resto__img{
                width: 100%;
                height: 80%;
                @include border-radius;
    
                img{
                    width: 100%;
                    height: 253px;
                    @include border-radius;
                    object-fit: cover;
                }
            }
    
            .resto__descritpion{
                width: 90%;
                height: 30%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .titre-sous-titre{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 5px;
    
                    .titre{
                        line-height: 0;
                        height: 22px;
    
                        & h2{
                            font-size: 19px; 
                        }
                    }
                    
                    .sous-titre{
                        line-height: 0;
                        height: 22px;
                        font-family: 'roboto_light';
    
                        & h3{
                            font-size: 18px;
                            line-height: 0;
                            font-family: 'roboto_light';
                        } 
                    }

                    a{
                        height: 100%;
                    }
                }
            }
        }

        .new{
            position: absolute;
            width: 80px;
            height: 30px;
            background-color: $vert;
            left: 250px;
            margin-top: 15px;
            border-radius: 3px;
            padding: 0px;
    
            span{
                font-family: 'roboto_medium';
                margin: 0px;
                width: 100%;
                height: 100%;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #4a8a7a;
            }
        }
    }

    footer{

        >div{
            width: 95%;
            height: 100%;
            padding-left: 30px;
        }

        > h3{
            margin-left: 30px;
        }
    }
}


/* Partie responsive desktop */
@media all and (min-width: 780px){

    body, #block_page{
        width: 100%;
        max-width: 1500px;
        min-width: 1000px;
        margin: auto;
    }

    .conteneur3__titre{
        display: none;
    }

    header{
        display: flex;
        width: 95%;
        height: 85px;
        margin: auto;
        align-items: center;
        
        .logo__ohmyfood{
            width: 75%;
            justify-content: flex-start;
            margin-top: 10px;
            padding-left: 50px;  

            img{
                width: 290px;
                height: 50px;
            }
        }

        .header__ico{
            width: 25%;
            display: flex;
            justify-content: space-evenly;

            .ico__profil, .ico__panier, .ico_resto{
                color: rgb(41, 41, 41);
                width: 10%;
                font-size: 22px;
                margin-right: 40px;
            }
        }


    }

    .div__img__couverture{

        display: flex;
        justify-content: center;

        & img{
            width: 95%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .conteneur__1__2{
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .conteneur1{
            display: flex;
            flex-direction: row;
            width: 45%;
        
            .localisation{
                display: none;
            }
        
            .div__loc {
                width: 50%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                order: 1;
        
                .localisation_tab{
                    width: 75%;
                    height: 100%;
                    min-width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    box-shadow:  1px 1px 5px #4d4d4d33;
                    border-radius: 20px;

                    .titre__loc{
                        width: 80%;
                        margin-right: 10px;
                    }
        
                    .ico__loc{
                        width: 20%;
                        display: flex;
                        justify-content: center;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
        
            .reservation{
            background-color: #f7f7f7;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: auto;
                width: 100%;
                height: 200px;
                padding-top: 25px;
                padding-bottom: 30px;
                border-radius: 20px;
               
                a:visited{
                    color: white;
                }
        
                br{
                    display: none;
                }
                    
                .reservation__titre{
                    width: 87%;
                    height: 20%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 21px;
                }
                    
                .reservation__txt{
                    width: 87%;
                    margin: 0px;
                    font-size: 17px;
                    display: flex;
                    justify-content: flex-start;
                }
                    
                .div__bouton{
                    width: 50%;
                    height: 60px;
                    order: 1;
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 20px;
        
                    a{
                        width: 100%;
                        height: 40px;
                        padding-top: 0%;
            
                        h3{
                          font-family: 'roboto_light'; 
                          margin-top: 23px; 
                          font-size: 17px;
                        }                
                    }
        
                    .reservation__bouton{
                        color: white;
                        width: 75%;
                        height: 100%;
                        min-width: 195px;
                        background: linear-gradient( 180deg, #FF79DA, #9356DC );
                        border-radius: 20px;
                        justify-content: flex-start;
                        text-align: center;
                        margin: 0px;
                        border: none;
                        cursor: pointer;
                        box-shadow: 2px 2px 15px #adadad;
                    }
                }
            } 
        }
        
        .conteneur2{
            width: 45%;
            background-color: white;
            border-radius: 20px;                
            
            .conteneur2__titre{
                font-size: 21px;
                margin-left: 30px;
                margin-bottom: 20px;
            }
            
            .fonction{
                width: 90%;
                height: 100%;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .fonction2{
                    margin-left: 20px;
                    margin-right: 20px;
                }
            
                > div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    background-color: #f7f7f7;
                    border-radius: 15px 15px 15px 15px;
                    height: 200px;
                    box-shadow:  5px 5px 10px #e6e6e6;
                    cursor: pointer;
                    margin-bottom: 20px;
            
                    .rond{
                        position: relative;
                        left: -86px;
                        top: 0px;
                        background-color: $violet;
                        color: white;
                        border-radius: 50px;
                        height: 25px;
                        width: 25px;
                        max-width: 1035px;
            
                        h4{
                            font-family: 'roboto_light';
                            margin: 0px;
                            width: 100%;
                            height: 25px;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
            
                    &:hover{
                        background-color: $backhover;

                        .fa-mobile-alt, .fa-list-ul, .fa-store{
                            color: $violet;
                        }
                    }
        
                    .ico{
                        width: 90%;
                        padding-top: 15px;
                        display: flex;
                        justify-content: center;

                        .fa-mobile-alt, .fa-list-ul, .fa-store{
                            color: $icones;
                            font-size: 30px;
                            margin: 0px;
                        } 
                    }

                    .fontction__titre{
                        padding-top: 20px;

                        h3{
                            font-size: 17px;
                            width: 99%;
                            text-align: center;
                        } 
                    }
                }
            }
        }
    }

    .div__conteneur3__titre__tab{
        width: 100%;
        background-color: #f0f0f0;
        margin-bottom: 0px;

        .conteneur3__titre__tab{
            width: 94%;
            font-size: 24px;
            margin-bottom: 0px;
            margin-left: 35px;
            padding-top: 40px;
        }
    }

    .conteneur3{
        background-color: #f0f0f0;
        height: 590px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 30px;
    
        a{
            width: 100%;
        }
    
        a:visited{
            color: black;
        }
    
        @mixin shadow {
            box-shadow:  2px 2px 10px #b6b6b6;
        }
    
        .resto1{
            width: 21%;
            height: 540px;
            min-width: 215px;
            margin: auto;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 20px;
            @include shadow;
    
            @mixin border-radius{
                border-radius: 15px 15px 0px 0px;
            }
    
            .resto__img{
                width: 100%;
                height: 85%;
                @include border-radius;
    
                img{
                    width: 100%;
                    height: 460px;
                    @include border-radius;
                    object-fit: cover;
                }
            }
    
            .resto__descritpion{
                width: 90%;
                height: 15%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .titre-sous-titre{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 5px;
    
                    .titre{
                        line-height: 0;
                        height: 22px;
    
                        & h2{
                            font-size: 19px; 
                        }
                    }
                    
                    .sous-titre{
                        line-height: 0;
                        height: 22px;
                        font-family: 'roboto_light';
    
                        & h3{
                            font-size: 18px;
                            line-height: 0;
                            font-family: 'roboto_light';
                        } 
                    }

                    a{
                        height: 100%;
                    }
                }
            }
        }

        .new{
            position: absolute;
            width: 80px;
            height: 30px;
            background-color: $vert;
            left: 160px;
            margin-top: 15px;
            border-radius: 3px;
            padding: 0px;

            &--modif{
                left: 20%;
            }

            span{
                font-family: 'roboto_medium';
                margin: 0px;
                width: 100%;
                height: 100%;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #4a8a7a;
            }
        }


    }

    footer{

        >div{
            width: 95%;
            height: 100%;
            padding-left: 30px;
        }

        > h3{
            margin-left: 30px;
        }
    }
}
