.block_page, body{
    width: 375px;
    margin: auto;
}

@font-face {
    font-family: 'shrikland';
    src: url(fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'roboto_medium';
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'roboto_light';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto_thin';
    src: url(fonts/Roboto-Thin.ttf);
}

h2{
    font-family: 'roboto_medium';
}

h3{
    font-family: 'roboto_thin'
}

p{
    font-family: 'roboto_light'; 
}

a{
    text-decoration: none;
    width: 100%;
}

$icones: #707070;

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 45px;


    .fa-arrow-left{
        margin-left: 30px;
        margin-right: 70px;
        color: #414141;
    }

    img{
        width: 160px;
        height: 30px;
        padding-top: 5px;
    }

}

.background{
    
    img{
        width: 375px;
        height: 252px;
        position: absolute;
        object-fit: cover;
    }
}

.conteneur1{
    width: 375px;
    height: 940px;
    background-color: $background;
    position: relative;
    margin: auto;
    top: 205px;
    border-radius: 35px 35px 0px 0px;
    padding-bottom: 130px;

    >a{
       width: 100%;
       height: 150px; 
    }

    a:visited{
        color: white;
    }

    .titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }

    h1{
        font-family: 'shrikland';
        font-size: 26px;
    }

    .coeurs{

        .coeur1__2{
            position: relative;
            /*transition: opacity 1s ease-out;*/
            width: 23px;
            
            .far.fa-heart.fa-lg{
                top: 3px;
                position: absolute;
                background-color: $background;
                height: 21px;

                &.far.fa-heart.fa-lg:hover{
                    opacity: 0;
                    transition: opacity 0.5s;
                    color: black;
                    background-color: $background;
                }
            }

            .fas.fa-heart.fa-lg.c1{
                background-image: url('images/Coeur-plein[928].svg');
                background-color: transparent;
                color: transparent;
                height: 21px;
                width: 21px;
            }
        }
    }

    .entrees, .plats, .desserts{
        width: 90%;
        height: 270px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;

        > h2{
            width: 12%;
            height: 22px;
            margin: 0px;
            font-family: 'roboto_thin' ;
            font-size: 16px;
            border-bottom: 3px solid $vert;
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) ;
        }

        .entree__tartare{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 200ms both;
        }

        .entree__veloute{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 400ms both;
        }

        .entree__soupe{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 600ms both;               
        }

        .plats__titre{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 700ms both;
        }

        .plats__s-j{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 800ms both;
        }

        .plats__magret{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 1000ms both;
        }

        .plats__pigeon{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 1200ms both;
        }

        .desserts__titre{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 1300ms both;
        }

        .desserts__violette{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 1400ms both;
        }

        .desserts__fondant{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 1600ms both;
        }

        .desserts__millefeuille{
            animation: fadein 300ms cubic-bezier(0, 0.5, 0.5, 1) 1800ms both;
        }

        @keyframes fadein {
            0% {
                opacity:0;
                transform: translateY(50px);
            }
            100% {
                opacity:1;
                transform: translateY(0px);
            }
        }

        .entree__escargot, .entree__foie, .entree__oeuf, .plats__filet, .plats__parmentier, .plats__turbot, .desserts__PB, .desserts__macaron, .desserts__mousse{
            height: 65px;
            background-color: white;
            border-radius: 15px 15px 15px 15px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 2px 2px 10px #d8d8d8;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover{
                .check{
                    transform: translateX(-50px);
                    width: 50px;
                }

                .prix{
                    transform: translateX(-45px);
                }
            }

            .check{
                background-color: #99E2D0;
                position: absolute;
                top: 0;
                right: -50px;
                bottom: 0;
                width: 0px;
                height: 100%;
                align-items: center;
                border-radius: 0 15px 15px 0;
                transition: transform 400ms cubic-bezier(.58,.01,.75,.38);
                cursor: pointer;

                .fa-check-circle{
                    font-size: 20px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    padding-top: 23.5px;
                }
            }

            .entree__escargot__titre, .entree__foie__titre, .entree__oeuf__titre, .plats__filet__titre, .plats__parmentier__titre, .plats__turbot__titre, .desserts__PB__titre, .desserts__macaron__titre, .desserts__mousse__titre {
                width: 90%;
                height: 22px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'roboto_medium';
                font-size: 17px;
            }

            .entree__escargot__st, .entree__foie__st, .entree__oeuf__st, .plats__filet__st, .plats__parmentier__st, .plats__turbot__st, .desserts__PB__st, .desserts__macaron__st, .desserts__mousse__st{
                width: 90%;
                height: 22px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-between; 
                text-overflow: ellipsis;

                .prix{
                    font-family: 'roboto_medium';
                    color: #414141;
                    transition: transform 400ms cubic-bezier(.58,.01,.75,.38);
                }
            }

            h3{
                font-size: 14px;
                font-family:'roboto_thin' ;
                line-height: 0; 
            }   
        }
    }

    .commander{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 30px;

        .commander__bouton{
            color: white;
            font-size: 15px;
            width: 50%;
            height: 50px;
            background: linear-gradient( 180deg, #FF79DA, #9356DC );
            border-radius: 50px 50px 50px 50px;
            text-align: center;
            margin: auto;
            border: none;
            cursor: pointer;
            box-shadow: 5px 5px 15px #adadad;
            font-family: 'roboto_medium';

            &:hover{
                opacity: 0.8;
                transition: 0.3s;
            }
        }
    }
}

footer{
    height: 170px;
    background-color: #414141;
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 0;
    position: relative;
    margin-top: 200px;

    h3{
        font-size: 16px;
        font-family: 'roboto_light';
    }

    .footer__img{
        padding-bottom: 20px;
        padding-top: 10px;

        img{
            width: 120px;
            height: 20px;
        }
    }

    .footer__restaurant__partenaire{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .fa-utensils{
            margin-right: 10px;
        }

        .fa-hands-helping{
            margin-right: 10px;
        }
    }
}

@media all and (min-width:376px) and (max-width:779px){

    .block_page, body{
        width: 780px;
        margin: auto;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 60px;
    
    
        .fa-arrow-left{
            margin-left: 30px;
            margin-right: 70px;
            color: #414141;
        }
    
        img{
            width: 160px;
            height: 30px;
            padding-top: 5px;
        }
    
    }
    
    .background{

        width: 100%;
        height: 252px;
        
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            min-width: 780px;
        }
    }
    
    .conteneur1{
        width: 100%;
        height: 970px;
        background-color: $background;
        position: relative;
        margin: auto;
        top: 20px;
        border-radius: 35px 35px 0px 0px;
        padding-bottom: 130px;
    
        >a{
           width: 100%;
           height: 150px; 
        }
    
        a:visited{
            color: white;
        }
    
        .titre{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;

            h1{
                font-family: 'shrikland';
                font-size: 27px;
            }
        }
    
        .entrees, .plats, .desserts{
            width: 90%;
            height: 270px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20px;
    
            > h2{
                width: 40px;
                height: 22px;
                margin: 0px;
                font-family: 'roboto_thin' ;
                font-size: 17px;
                border-bottom: 3px solid #99E2D0;
            }
    
            .entree__escargot, .entree__foie, .entree__oeuf, .plats__filet, .plats__parmentier, .plats__turbot, .desserts__PB, .desserts__macaron, .desserts__mousse{
                height: 65px;
                background-color: white;
                border-radius: 15px 15px 15px 15px; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 2px 2px 10px #d8d8d8;
    
                .entree__escargot__titre, .entree__foie__titre, .entree__oeuf__titre, .plats__filet__titre, .plats__parmentier__titre, .plats__turbot__titre, .desserts__PB__titre, .desserts__macaron__titre, .desserts__mousse__titre {
                    height: 22px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: 'roboto_medium';
                    font-size: 18px;
                }
    
                .entree__escargot__st, .entree__foie__st, .entree__oeuf__st, .plats__filet__st, .plats__parmentier__st, .plats__turbot__st, .desserts__PB__st, .desserts__macaron__st, .desserts__mousse__st{
                    width: 90%;
                    height: 22px;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: space-between; 
    
                    .prix{
                        font-family: 'roboto_medium';
                        color: #414141;
                    }
                }
    
                h3{
                    font-size: 15px;
                    font-family:'roboto_thin' ;
                    line-height: 0; 
                }   
            }
        }
    
        .commander{
            display: flex;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
    
            .commander__bouton{
                color: white;
                font-size: 16px;
                width: 50%;
                height: 50px;
                background: linear-gradient( 180deg, #FF79DA, #9356DC );
                border-radius: 50px 50px 50px 50px;
                text-align: center;
                margin: auto;
                border: none;
                cursor: pointer;
                box-shadow: 5px 5px 15px #adadad;
                font-family: 'roboto_medium';
            }
        }
    }

    footer{
        height: 170px;
        background-color: #414141;
        color: white;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        line-height: 0;
        position: relative;
        margin-top: 0px;
    
        h3{
            font-size: 16px;
            font-family: 'roboto_light';
        }
    
        .footer__img{
            padding-bottom: 20px;
            padding-top: 10px;
    
            img{
                width: 120px;
                height: 20px;
            }
        }
    
        .footer__restaurant__partenaire{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            .fa-utensils{
                margin-right: 10px;
            }
    
            .fa-hands-helping{
                margin-right: 10px;
            }
        }
    }
}

$background: #f0f0f0;

@media all and (min-width:780px){

    .block_page, body{
        width: 100%;
        max-width: 1500px;
        min-width: 1000px;
        margin: auto;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 85px;
    
    
        .fa-arrow-left{
            margin-left: 30px;
            margin-right: 70px;
            color: #414141;
        }
    
        img{
            width: 160px;
            height: 30px;
            padding-top: 5px;
        }
    
    }
    
    .background{

        width: 100%;
        height: 252px;
        
        img{
            width: 100%;
            height: 350px;
            object-fit: cover;
            min-width: 1000px;
            max-width: 1500px;
        }
    }
    
    .conteneur1{
        width: 100%;
        height: 690px;
        background-color: white;
        position: relative;
        margin: auto;
        top: 70px;
        border-radius: 35px 35px 0px 0px;
        padding-bottom: 130px;
    
        >a{
           width: 100%;
           height: 150px; 
        }
    
        a:visited{
            color: white;
        }
    
        .titre{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;

            h1{
                font-family: 'shrikland';
                font-size: 30px;
            }
        }

        .coeurs{
            cursor: pointer;

            .coeur1__2{
                position: relative;
                /*transition: opacity 1s ease-out;*/
                width: 23px;
                
                .far.fa-heart.fa-lg{
                    top: 3px;
                    position: absolute;
                    background-color: white;
                    height: 21px;
    
                    &.far.fa-heart.fa-lg:hover{
                        opacity: 0;
                        transition: opacity 0.5s;
                        color: black;
                        background-color: white;
                    }
                }
    
                .fas.fa-heart.fa-lg.c1{
                    background-image: url('images/Coeur-plein[928].svg');
                    color: transparent;
                    height: 21px;
                    width: 21px;
                }
            }
        }

        .epd{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 85%;
            margin: auto;
            padding: 55px;
            padding-top: 5px;
            padding-bottom: 25px;
            margin-top: 15px;
            background-color: $background;
            border-radius: 20px;
        }
    
        .entrees, .plats, .desserts{
            width: 45%;
            height: 270px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20px;
    
            > h2{
                width: 45px;
                height: 22px;
                margin: 0px;
                font-family: 'roboto_thin' ;
                font-size: 17px;
                border-bottom: 3px solid #99E2D0;
            }
    
            .entree__escargot, .entree__foie, .entree__oeuf, .plats__filet, .plats__parmentier, .plats__turbot, .desserts__PB, .desserts__macaron, .desserts__mousse{
                background-color: white;
                border-radius: 15px 15px 15px 15px; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 2px 2px 10px #d8d8d8;
                box-shadow: 2px 2px 10px #d8d8d8;
                max-width: 540px;
    
                .entree__escargot__titre, .entree__foie__titre, .entree__oeuf__titre, .plats__filet__titre, .plats__parmentier__titre, .plats__turbot__titre, .desserts__PB__titre, .desserts__macaron__titre, .desserts__mousse__titre {
                    height: 22px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: 'roboto_medium';
                    font-size: 18px;
                }
    
                .entree__escargot__st, .entree__foie__st, .entree__oeuf__st, .plats__filet__st, .plats__parmentier__st, .plats__turbot__st, .desserts__PB__st, .desserts__macaron__st, .desserts__mousse__st{
                    width: 90%;
                    height: 22px;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: space-between; 
    
                    .prix{
                        font-family: 'roboto_medium';
                        color: #414141;
                    }
                }
    
                h3{
                    font-size: 15px;
                    font-family:'roboto_thin' ;
                    line-height: 0; 
                }   
            }
        }
    
        .commander{
            width: 45%;
            display: flex;
            justify-content: center;
            margin: auto;
            padding-top: 50px;
            padding-bottom: 50px;
    
            .commander__bouton{
                color: white;
                font-size: 16px;
                width: 60%;
                height: 60px;
                background: linear-gradient( 180deg, #FF79DA, #9356DC );
                border-radius: 50px 50px 50px 50px;
                text-align: center;
                margin: auto;
                border: none;
                cursor: pointer;
                box-shadow: 5px 5px 15px #adadad;
                font-family: 'roboto_medium';
            }
        }
    }

    footer{
        height: 170px;
        background-color: #414141;
        color: white;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        line-height: 0;
        position: relative;
        margin-top: 0px;
    
        h3{
            font-size: 16px;
            font-family: 'roboto_light';
        }
    
        .footer__img{
            padding-bottom: 20px;
            padding-top: 10px;
    
            img{
                width: 120px;
                height: 20px;
            }
        }
    
        .footer__restaurant__partenaire{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            .fa-utensils{
                margin-right: 10px;
            }
    
            .fa-hands-helping{
                margin-right: 10px;
            }
        }
    }
}    