@media all and (max-width: 375px){
    .conteneur3__titre__tab{
        display: none;
    }

    .div__img__couverture{
        display: none;
    }

    .header__ico{
        display: none;
    }    
}

// responsive tab style
@media all and (min-width: 376px) and (max-width:779px){

    body, #block_page{
        width: 780px;
        margin: auto;
    }

    header{

        div{
        width: 100%;
        justify-content: center;  
        }

        .header__ico{
            display: none;
        } 
    }

    .div__img__couverture{
        display: none;
    }

    .conteneur1.c1{
        display: flex;
        flex-direction: row;

        .localisation{
            display: none;
        }

        .div__loc {
            width: 45%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            order: 1;

            .localisation_tab{
                width: 75%;
                height: 100%;
                min-width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow:  1px 1px 5px #4d4d4d33;
                border-radius: 20px;

                & div{
                    margin-right: 20px;
                }
            }
        }

       .reservation{
            flex-direction: row;
            flex-wrap: wrap;
            margin: auto;
            width: 95%;
            height: 140px;
            border-radius: 20px;

            br{
                display: none;
            }
            
            .reservation__titre{
                width: 87%;
                height: 20%;
                justify-content: flex-start;
                align-items: center;
                font-size: 21px;
            }
            
            .reservation__txt{
                width: 87%;
                margin: 0px;
                font-size: 17px;
                justify-content: start;
            }
            
            .div__bouton{
                width: 55%;
                height: 60px;
                order: 1;
                justify-content: flex-start;
                margin-top: 20px;

                a{
                    padding-top: 0%;
                    margin-top: -8px;
    
                    h3{
                      margin-top: 23px; 
                      font-size: 17px;
                    }                
                }

                .reservation__bouton{
                    width: 58%;
                    height: 100%;
                    border-radius: 20px;
                    justify-content: flex-start;
                    margin: 0px;
                    @include shadow-button;
                }
            }
        } 
    }

    .conteneur2{
    
        .conteneur2__titre{
            font-size: 21px;
        }
    
        .fonction{
            width: 100%;
            height: 130px;
            flex-direction: row;
            justify-content: space-evenly;
    
            > div{
                width: 190px;
                height: 120px;
                flex-direction: column;
                align-items: center;
    
                .rond{
                    left: -94px;
                    top: 0px;
                    border-radius: 50px;
                    height: 25px;
                    width: 25px;
    
                    h4{
                        height: 25px;
                        font-size: 12px;
                    }
                }
    
                .fa-mobile-alt, .fa-list-ul, .fa-store{
                    color: $icones;
                    font-size: 20px;
                } 

                h3{
                    font-size: 17px;
                    width: 99%;
                    text-align: center;
                } 
            }
        }
    }

    .div__conteneur3__titre__tab{
        display: none;
    }

    .conteneur3{
        height: 820px;
        flex-wrap: wrap;;
        flex-direction: row;

        > div{
            width: 98%;

            .conteneur3__titre{
                font-size: 21px;
            }
        }
    
        .resto1{
            width: 41%;
            height: 340px;
    
            .resto__img{
                width: 100%;
                height: 80%;
                @include border-radius;
    
                img{
                    height: 270px;
                }
            }

            .resto__descritpion{
                height: 17%;
                padding-bottom: 5px;

                .titre{
    
                    & h2{
                        font-size: 19px; 
                    }
                }
                .sous-titre{
        
                    & h3{
                        font-size: 18px;
                    } 
                }
    
                a{
                    height: 100%;
                }
            }
        }

        .new{

            &--modif{
                left: 643px;
            }
        }
    }

    footer{

        >div{
            width: 95%;
            height: 100%;
            padding-left: 30px;
        }

        > h3{
            margin-left: 30px;
        }
    }
}

/* Partie responsive desktop */
@media all and (min-width: 780px){

    body, #block_page{
        width: 100%;
        max-width: 1500px;
    }

    .conteneur3__titre{
        display: none;
    }

    header{
        width: 95%;
        height: 75px;
        margin: auto;
        display: flex;
        align-items: center;
        
        .logo__ohmyfood{
            width: 75%;
            justify-content: flex-start;
            margin-top: 10px;
            padding-left: 50px;  

            img{
                width: 220px;
                height: 40px;
            }
        }

        .header__ico{
            width: 25%;
            display: flex;
            justify-content: space-evenly;

            .ico__profil, .ico__panier, .ico_resto{
                color: rgb(41, 41, 41);
                width: 10%;
                font-size: 22px;
                margin-right: 40px;
            }
        }


    }

    .div__img__couverture{

        display: flex;
        justify-content: center;

        & img{
            width: 95%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .conteneur__1__2{
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .conteneur1{
            display: flex;
            flex-direction: row;
            width: 45%;
        
            .localisation{
                display: none;
            }
        
            .div__loc {
                width: 50%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                order: 1;
        
                .localisation_tab{
                    width: 75%;
                    height: 100%;
                    min-width: 160px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 20px;

                    .titre__loc{
                        width: 80%;
                        margin-right: 10px;
                    }
        
                    .ico__loc{
                        width: 20%;
                        display: flex;
                        justify-content: center;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
        
            .reservation{
                flex-direction: row;
                flex-wrap: wrap;
                margin: auto;
                width: 100%;
                border-radius: 20px;
        
                br{
                    display: none;
                }
                    
                .reservation__titre{
                    width: 87%;
                    height: 20%;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 21px;
                }
                    
                .reservation__txt{
                    width: 87%;
                    margin: 0px;
                    font-size: 17px;
                    justify-content: flex-start;
                }
                    
                .div__bouton{
                    width: 50%;
                    height: 60px;
                    order: 1;
                    justify-content: flex-start;
                    margin-top: 20px;
        
                    a{
                        padding-top: 0%;
            
                        h3{
                          margin-top: 23px; 
                          font-size: 17px;
                        }                
                    }
        
                    .reservation__bouton{
                        width: 75%;
                        height: 100%;
                        min-width: 160px;
                        border-radius: 20px;
                        justify-content: flex-start;
                        text-align: center;
                        margin: 0px;
                    }
                }
            } 
        }
        
        .conteneur2{
            width: 45%;
            background-color: white;
            border-radius: 20px;                
            
            .conteneur2__titre{
                font-size: 21px;
            }
            
            .fonction{
                width: 90%;
                height: 100%;
                flex-direction: row;

                .fonction2{
                    margin-left: 20px;
                    margin-right: 20px;
                }
            
                > div{
                    position: relative;
                    flex-direction: column;
                    height: 200px;
                    margin-bottom: 20px;

                    &:hover{
                        background-color: $backhover;
        
                         .fa-mobile-alt, .fa-list-ul, .fa-store{
                            color: $violet;
                        }
                    }
                    
                    .fa-mobile-alt, .fa-list-ul, .fa-store{
                        color: $icones;
                        font-size: 28px;
                        margin: 0px;
                        padding-top: 20px;
                    }
            
                    .rond{
                        left: -46%;
                        top: 0px;
                        border-radius: 50px;
                        height: 25px;
                        width: 25px;
                        max-width: 1035px;
            
                        h4{
                            height: 25px;
                            font-size: 12px;
                        }
                    }

                    .fontction__titre{
                        padding-top: 20px;

                        h3{
                            font-size: 17px;
                            width: 99%;
                            text-align: center;
                            padding-top: 1;
                        } 
                    }
                }
            }
        }
    }

    .div__conteneur3__titre__tab{
        width: 100%;
        background-color: $background;
        margin-bottom: 0px;

        .conteneur3__titre__tab{
            width: 94%;
            font-size: 24px;
            margin-bottom: 0px;
            margin-left: 35px;
            padding-top: 40px;
        }
    }

    .conteneur3{
        height: 590px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px;
    
        .resto1{
            position: relative;
            width: 24%;
            height: 540px;
    
            .resto__img{
                height: 85%;
    
                img{
                    height: 460px;
                    object-fit: cover;
                }
            }
    
            .resto__descritpion{
                height: 15%;
                white-space: nowrap;
    
                .titre-sous-titre{

                    .titre{
                        font-size: 19px; 
                        text-overflow: ellipsis;

                        & h2{
                            font-size: 19px; 
                        }
                    }  

                    & h3{
                        font-size: 18px;
                        line-height: 0;
                        font-family: 'roboto_light';
                    } 

                    a{
                        height: 100%;
                    }
                }

                .coeurs{
                    margin-left: 10px;
                }
            }
        }

        .new{
            left: 8%;

            &--modif{
                left: 8%;
            }
        }
    }

    footer{

        >div{
            width: 95%;
            height: 100%;
            padding-left: 30px;
        }

        > h3{
            margin-left: 30px;
        }
    }
}


/* Version responsive tablette style1*/
@media all and (min-width:376px) and (max-width:779px){

    .page{
        #block_page, body{
            width: 780px;
            margin: auto;
        }
    
        header{
            height: 60px;
        }
        
        .background{
    
            width: 100%;
            height: 252px;
            
            img{
                width: 100%;
                height: 300px;
            }
        }
        
        .conteneur1{
            width: 100%;
            height: 970px;
            top: 20px;
    
            &--LaNote{
                height: 1050px;
            }
        
            .titre{
    
                h1{
                    font-size: 27px;
                }
            }
        
            .entrees, .plats, .desserts{
        
                > h2{
                    width: 40px;
                    font-size: 17px;
                }
        
                .entree__tartare__titre, .entree__veloute__titre, .entree__soupe__titre, .plats__s-j__titre, 
                .plats__magret__titre, .plats__pigeon__titre, .desserts__violette__titre, .desserts__fondant__titre, 
                .desserts__millefeuille__titre {
    
                    font-size: 18px;
    
                    h3{
                        font-size: 15px;
                    }  
                } 
            }
        
            .commander{
                padding-top: 50px;
                padding-bottom: 50px;
        
                .commander__bouton{
                    font-size: 16px;
                }
            }
        }
    
        footer{
            margin-top: 0px;
        }
    }
}

/* Version Responsive Desktop */
@media all and (min-width:780px){

    .page{
        #block_page, body{
            width: 100%;
            max-width: 1500px;
            min-width: 1000px;
        }
    
        header{
            height: 85px;   
        }
        
        .background{
            width: 100%;
            height: 252px;
            
            img{
                width: 100%;
                height: 350px;
                min-width: 800px;
                max-width: 1500px;
            }
        }
        
        .conteneur1{
            width: 100%;
            height: 690px;
            top: 70px;
        
            .titre{
    
                h1{
                    font-size: 30px;
                }
            }
    
            .epd{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 85%;
                margin: auto;
                padding: 55px;
                padding-top: 5px;
                padding-bottom: 25px;
                background-color: $background;
                border-radius: 20px;
            }
        
            .entrees, .plats, .desserts{
                width: 45%;
        
                > h2{
                    width: 45px;
                    font-size: 17px;
                }
        
                .entree__tartare, .entree__veloute, .entree__soupe, .plats__s-j, .plats__magret, .plats__pigeon, .desserts__violette, 
                .desserts__fondant, .desserts__millefeuille{
                    max-width: 540px;
                    z-index: 1;
        
                    .entree__tartare__titre, .entree__veloute__titre, .entree__soupe__titre, .plats__s-j__titre, 
                    .plats__magret__titre, .plats__pigeon__titre, .desserts__violette__titre, .desserts__fondant__titre, 
                    .desserts__millefeuille__titre {
                        font-size: 18px;
                    }
        
                    h3{
                        font-size: 15px;
                    }   
                }
            }
        
            .commander{
                width: 45%;
                margin: auto;
                padding-top: 50px;
                padding-bottom: 50px;
        
                .commander__bouton{
                    font-size: 16px;
                    width: 60%;
                    height: 60px;
                }
            }
        }
    
        footer{
            margin-top: 0px;
        }
    }


}  